.idea
*pyc
__pycache__
output
/venv
old_README.md
/syndirella_input_template_old.csv
/syndirella_input_template_manual_old.csv
/syndirella/constants/ADDITIONAL_RXN_OPTIONS.json

# tests
/syndirella/tests/one_step_warren_A71EV2A/
/syndirella/tests/reactants_filtering
/syndirella/tests/reactants_filtering_w_labels

#any output folder
*/output/
iris/
/exps/original/

#mac os files
*.DS_Store

/nbs/
/debug/


