.idea
*pyc
__pycache__
output
/venv
old_README.md
/syndirella_input_template_old.csv
/syndirella_input_template_manual_old.csv
/syndirella/constants/_cache/
/syndirella/aizynth/config.yml
/syndirella/aizynth/*.onnx
/syndirella/aizynth/*.csv*
/syndirella/aizynth/*.hdf5
private/
setup.py
requirements.txt

# tests_OLD
/syndirella/tests_OLD/
/syndirella/tests/test_kates_input/

#any output folder
*/output/
iris/
/exps/original/

#mac os files
*.DS_Store

# Python egg-info directories
*.egg-info/

/nbs/
/debug/

ASKCOSv2/

.vscode/
aizynth/
docs/build